.box1,.box2,.box3{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: blue;
    color: yellow;
    text-align: center;
}
#box{
    display: flex;
    flex-direction: row;
}
#time{
    color:red;
    font-size: 30px;
}